

<nav class="bg-emerald-400 p-4 mx-auto  px-6 py-4 md:sticky sm:top-0 z-10">
  <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
    <h1 class="text-white font-bold text-2xl">EcoProsperity Fund</h1>
    <ul class="flex flex-col md:flex-row justify-center space-x-8">
        
      <li><a href="index.html" class="text-white hover:bg-gray-600 p-2 rounded inline-block">Homepage</a></li>
      <li><a href="ABOUTUS.html" class="text-white hover:bg-gray-600 p-2 rounded inline-block">About</a></li>
      <li><a href="services.html" class="text-white hover:bg-gray-600 p-2 rounded inline-block" >Services</a></li>
      <li><a href="Contactus.html" class="text-white hover:bg-gray-600 p-2 rounded inline-block" >Contact Us</a></li>
      <li><a href="donate.html" class="text-white hover:bg-gray-600 p-2 rounded inline-block font-extrabold" >Donate!</a></li>
    </ul>
    </div>
  </nav>